<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <header>
        <img src="../../../assets/newLogo.png" alt="logo" style="height: 3.5vh;">
        <nav>
            <ul>
                <li><a href="">HOME</li></a>
                <li><a href="/src/telas/cadastrarDesaparecido/cadastrar/index.html">INSERIR</li></a>
                <li><a href="">FÓRUM</li></a>
                <li><a href="/src/telas/cadastrarDesaparecido/view/visualizar.html">DESAPARECIDOS</li></a>
                <li><a href="">LOCALIZAR</li></a>
                <li><a href="">ENTRAR</a></li>
            </ul>
        </nav>

    </header>

    <main id="main">
            
    </main>
    <div id="overlay"></div>
    <div id="modal"></div>


    <script>
        let arrayPessoas = []

        fetch(`http://localhost:3000/desaparecidos`)
            .then(response => response.json())
            .then(function (json) {
                console.log(json)
                json.forEach(element => {
                    arrayPessoas = json
                    thumb(element)
                });



            })
            .catch(error => console.error('Erro na requisição:', error));

        function thumb(object) {
            const div = document.createElement('div')
            div.classList = 'container-thumb'
            div.onclick = function(){
                renderItem(object.nome_completo)
            }
            div.innerHTML = `

                 <h4>${object.nome_completo}</h4>
                <div id='foto'><img src='${object.foto}' id='tam'></div>
               
              
           `
            document.getElementById('main').appendChild(div);
        }

        function renderItem(nome) {
            const modal = document.getElementById('modal')

            modal.innerHTML = ''
            const pessoa = arrayPessoas.find(p => p.nome_completo === nome)
            const div = document.createElement('div')
            div.classList = 'container'
            div.innerHTML = `
            <div>
                <h4>${pessoa.nome_completo}</h4>
                <div id='foto'><img src='${pessoa.foto}' id='tamDetalhes'></div>
                </div>
                
                    <div>
                        <p>Idade: ${pessoa.idade}</p>
                <p>Genero: ${pessoa.genero}</p>
                <p>Olhos: ${pessoa.olhos}</p>
                <p>Altura: ${pessoa.altura}</p>
                <p>Peso: ${pessoa.peso}</p>
                <p>Cabelo: ${pessoa.cabelo}</p>
                <p>Residente: ${pessoa.residente_em}</p>
                <p>Ultima Vez Visto: ${pessoa.ultima_vez_visto}</p>
                <p>Vestimentas: ${pessoa.vestimentas}</p>
                <p>Data Desaparecimento: ${pessoa.data_desaparecimento}</p>
                <p>Catacteristicas Fisicas: ${pessoa.caracteristicas_fisicas}</p>
                <p>Contato: ${pessoa.contato}</p>
                <p>Detalhes: ${pessoa.detalhes_desaparecimento}</p>
                        </div>
               
           `


             modal.style.display = 'block';
             overlay.style.display = 'block';
            modal.appendChild(div);
        }

        overlay.onclick = function () {
    modal.style.display = 'none';
    overlay.style.display = 'none';
  
};
    </script>
</body>

</html>